@media screen and (min-width: 800px) and (max-width: 999px){
    *{
        margin: 0;
        padding: 0;
        font-family: 'Raleway';
    }

    body{
        background: var(--gray);
        width: 100vw;
        box-sizing: border-box;
        height: 100vh;
        overflow-x: hidden;
    }

    /*HEADER STYLING*/

    .logo{
        width: 20%;
        height: 20%;
        margin-top: -5%;
    }

    header{
        background-image: url("../../assets/unsplash_fQ2XuWjSzfE.png");
        background-position: left;
        background-size: cover;

    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .nav-menu{
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        font-weight: bold;
        padding: 10px 0;
        transition: all 500ms ease;
    }
    .xmark{
        position: absolute;
        left: 20px;
        top: 10px;
        color: white;
        padding: 5px 8px;
        border-radius: 5px;
        background-color: black;
    }

    .nav-icons{
        display: none;
    }

    .fa-bars{
        margin-right: 30px;
        margin-top: -47px;
    }

    .header-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

     header p:first-of-type{
        font-weight: bold;
        font-size: var(--normal);
        color: var(--white);
        margin-top: 100px;
     }

     header p:last-of-type{
        font-weight: bold;
        font-size: var(--normal);
        color: var(--orange);
        margin: 30px 0;
        margin-bottom: 80px;
     }

     /*OUR PRODUCTS STYLING*/

     .more-title{
        margin: 40px 0;
        text-align: center;
        font-weight: bold;
        font-size: var(--subTitle);
        color: var(--white);
    }

    .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: var(--white);
        width: 100%;
        padding: 0;
        height: 200px;
    }

    .row-reverse{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: var(--white);
        width: 100%;
        height: 200px;
    }

    .image-column{
        width: 100%;
        height: 200px;
    }

    .column-text{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 40px;
    }

    .column-text > p{
        color: var(--black);
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;
    }

    button.more{
        border: none;
        background: var(--orange);
        color: var(--white);
        margin-top: 20px;
        font-weight: medium;
        font-size: 16px;
        width: 80px;
        height: 30px;
        transition: all 600ms ease-in-out;
    }

    /*CLIENTS STYLING*/

    .clients-title{
        margin: 40px 0;
        text-align: center;
        font-weight: bold;
        font-size: var(--subTitle);
        color: var(--white);
    }

    .clients-carousel{
        background-color: var(--white);
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .clients-carousel svg{
        animation: clients 10s linear infinite;
    }

    svg{
        fill: var(--normal-gray);
        width: 70px;
        height: 70px;
    }

    footer{
        background-color: var(--white);
        padding: 10px;
        margin-top: 60px;
    }
    footer{
        display: flex; 
        justify-content: center;
        align-content: center;
    }
    .container-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        justify-content: space-between;
        color: var(--gray);
    }
    .container-logo > p{
        font-size: 15px;
        font-weight: bold;
        margin: 20px;
    }
    #sink{
        color: var(--normal-gray);
    }
    #mnt{
        color: var(--orange);
    }

}